:root { 
--bluegray_50:#ebeff3; 
--gray_400:#bbbcbc; 
--red_600:#e93c40; 
--amber_500:#feb909; 
--blue_800:#2c5cd0; 
--indigo_50:#e4e8eb; 
--amber_100:#f6efab; 
--gray_200:#e5e8eb; 
--gray_100:#f5f7f9; 
--bluegray_900:#12344d; 
--bluegray_701:#424c5d; 
--bluegray_700:#39566b; 
--bluegray_300:#9ea8ba; 
--bluegray_200:#b0bbc4; 
--white_A700:#ffffff; 
--bluegray_901:#262b35; 
}